<?xml version="1.0" encoding="utf-8" ?>
<ClientConfiguration xmlns="urn:orleans">
  <!--<SystemStore SystemStoreType="SqlServer"
               DeploymentId="OrleansTest"
               DataConnectionString="Server=192.168.31.113;Database=OrleansStorage;User Id=sa;Password=1988;">    
  </SystemStore>-->
  <Gateway Address="localhost" Port="30000"></Gateway>
</ClientConfiguration>