<?xml version="1.0" encoding="utf-8" ?>
<OrleansConfiguration xmlns="urn:orleans">
  <Globals>
    <Application>
      <Defaults>
        <Deactivation AgeLimit="1m"/>
      </Defaults>
    </Application>
    <!--<SeedNode Address="localhost" Port="11111" />-->
    <SystemStore SystemStoreType="SqlServer"
                 DeploymentId="OrleansTest"
                 DataConnectionString="Server=192.168.31.113;Database=OrleansStorage;User ID=sa;Password=1988;">      
    </SystemStore>
    <StorageProviders>
      <Provider Type="Orleans.Storage.AdoNetStorageProvider"
                Name="OrleansStorage"
                AdoInvariant="System.Data.SqlClient"
                DataConnectionString="Server=192.168.31.113;Database=OrleansStorage;User ID=sa;Password=1988;">        
      </Provider>
    </StorageProviders>
    <BootstrapProviders>
      <Provider Type="OrleansDashboard.Dashboard" Name="Dashboard" />
    </BootstrapProviders>
  </Globals>
  <Defaults>
    <!--内部Silo与Silo之间的通讯地址-->
    <Networking Address="localhost" Port="11111"></Networking>
    <!--客户端调用的网关地址-->
    <ProxyingGateway Address="localhost" Port="30000"></ProxyingGateway>
  </Defaults>
</OrleansConfiguration>