<?xml version="1.0" encoding="utf-8" ?>
<OrleansConfiguration xmlns="urn:orleans">
  <Globals>
    <SystemStore SystemStoreType="SqlServer" 
                 DeploymentId="OrleansTest"
                 DataConnectionString="Server=192.168.31.113;Database=OrleansStorage;User ID=sa;Password=1988;">
      
    </SystemStore>
    <StorageProviders>
      <!--以内存的方式来存储状态-->
      <!--<Provider Type="Orleans.Storage.MemoryStorage" Name="OrleansStorage"></Provider>-->
      <Provider Type="Orleans.Storage.AdoNetStorageProvider"
                Name="OrleansStorage"
                AdoInvariant="System.Data.SqlClient"
                DataConnectionString="Server=192.168.31.113;Database=OrleansStorage;User ID=sa;Password=1988;">
        
      </Provider>
    </StorageProviders>
  </Globals>
  <Defaults>
         <!--内部Silo与Silo之间的通讯地址-->
        <Networking Address="localhost" Port="11111"></Networking>
        <!--客户端调用的网关地址-->
        <ProxyingGateway Address="localhost" Port="30000"></ProxyingGateway>
  </Defaults>
</OrleansConfiguration>